.card-container{
    
    margin-top: 40px;
    background-color: ivory;
    border: 1px solid ivory;
    
    
  
}

.item-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
     flex-wrap: wrap;
     padding: 10px 0px;

}

.item-container button {
    background-color: #beb0a7;
    /* border: 1px solid black; */
    border: 1px solid ivory;
    color: ivory;
    border-radius: 8px;
    padding: 5px 20px;
}

.card-container img{
   width: 70%;
   height: auto;
   
}

.ItemCount{
       display: grid;
       grid-template-columns: 1fr;
    
}

@media only screen and (min-width: 768px)  {
    .card-container img{
        width: 300px;
        height: 300px;
        
     }
}


.button-comprar {
    text-decoration: none;
    color: ivory;
}

.item-container button:hover{
    background-color: #f8ac18;
}