.header{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.logo{
    background-color: red;
}


.space-between{
    display: flex;
    justify-content: space-between;
}